@using WiseX.ViewModels.Home
@model HomeViewModel
@{
    var hideDashboarddiv = string.Empty;
    var HideTextdiv = string.Empty;
    if (Model.OverAllCount == 0)
    {

        hideDashboarddiv = "hide";
    }
    else
    {
        HideTextdiv = "hide";

    }
}

<div class="col-md-6">
    <div class="panel panel-inverse">
        <div class="panel-heading">
            <div class="panel-heading-btn">
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning collapsed" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
            </div>
            <h4 class="panel-title">Attendance Tracking</h4>
        </div>
        <div class="panel-body">
            <div class="@HideTextdiv">
                <p>
                    <h6 style="color:darkgrey">No data available</h6>
                </p>
            </div>
            <div class="@hideDashboarddiv">
                @*<div id="overall-Production-trend" class="height-sm"></div>*@
                <canvas id="Abar-chart" data-render="chart-js"></canvas>
                @*<div id="Abar-chart" class="height-sm"></div>*@
            </div>
        </div>
    </div>
</div>