<div class="modal fade" id="HNotifcationForm">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="panel panel-inverse" data-sortable-id="form-validation-1">
                <div class="panel-heading">
                    <h4 class="panel-title" id="changeNotification">Notification</h4>
                </div>

                <form id="notificationfrm" method="post" class="form-horizontal" data-parsley-validate="true">
                    <div class="panel-body panel-form p-t-15 m-t-10">
                        <div class="form-group col-sm-12 col-md-12 col-lg-12">
                            <div class="col-md-10 col-sm-10 col-lg-10 controls">
                                 HI, You have recevied contracts please check!
                                 </div>
                        </div>
                            <div class="form-group col-sm-12 text-center">
                                <input type="button" id="btnNotificationOK" class="btn btn-sm btn-primary m-r-5" value="OK" />
                            </div>
                        </div>
                </form>
            </div>
        </div>
    </div>
</div>