@using PED.ViewModels.Contract
@model Contracts
<div class="row m-10">
    <table id="tblInsuranceContractList" class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Document Type</th>
                <th>Insurance Name</th>
                <th>Effective Date</th>
                <th>Termed Date</th>
                <th>Action</th>
            </tr>
        </thead>
        <tfoot>

        </tfoot>
    </table>
</div>

