@using PED.ViewModels.Contract
@model Contracts
<div class="row m-10">
    <table id="tblContarctHistoryTable" class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Version</th>
                <th>Date</th>
                <th>Action By</th>
                <th>Action</th>
                <th>Comments</th>
            </tr>
        </thead>
        <tfoot>

        </tfoot>
    </table>
</div>

