@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@using PED.ViewModels.Contract
@model Contracts
@{
    string isPermission = string.Empty;
    var RolePermission = HttpContextAccessor.HttpContext.Session.Get<string>("SessionRoleAccess");
    var RoleId = HttpContextAccessor.HttpContext.Session.Get<string>("SessionRoleID");

    if (RoleId == "30133577-ba4d-4d74-8c17-575c99f6cc01")//Provider Enrollment Full Access
    {
        isPermission = "hide";
    }
    if (RolePermission == "R")
    {
        isPermission = "hide";
    }
}

<div class="row m-10">
    <form id="otherDocsForm" method="post" class="form-horizontal">
        <div class="row m-10 @isPermission">
            <div class="form-group col-sm-8 col-md-8 col-lg-8" id="divdoc">
                <label class="control-label col-md-4 col-sm-4" style="text-align:right" for="otherdocuments">Other Documents<span style="color:red">*</span></label>
                <div class="col-md-8 col-sm-8 col-lg-8 controls" controls">
                    <input type="file" id="OtherDocumentfile" class="form-control" name="file" accept=".pdf,.xlsx,.xls,.doc" data_parsley_required="true" />
                    <span style="color:red;font:bolder;" id="fileErrorMessage"></span>
                    <small class="text-primary">(Allowed Document Format : pdf,doc,xlsx,xls)</small>
                </div>
            </div>
            <input type="button" id="btnOtherFilesSubmit" class="btn btn-sm btn-primary m-r-5" value="Upload" />
        </div>
    </form>
    <div class="row m-10">
        <table id="tblContractOtherDocumentTable" class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Document Name</th>
                    <th>Uploaded By</th>
                    <th>Uploaded On</th>
                    <th class="@isPermission">Action</th>
                </tr>
            </thead>
            <tfoot>

            </tfoot>
        </table>
    </div>
</div>

