@using PED.ViewModels.Contract
@model Contracts
<form id="ContractApprovalForm" method="post" class="form-horizontal" data-parsley-validate="true">
    <div class="panel-body panel-form p-t-15  m-t-10">
        <div class="row m-10">
            <table id="tblApprovalContractList" class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th class="tr1">Version</th>
                        <th class="tr1">Company Id</th>
                        <th class="tr1">Company Name</th>
                        <th class="tr1">Residency Code</th>
                        <th class="tr1">Renewed Date</th>
                        <th class="tr1">Expiry Date</th>
                        <th class="tr1">Status</th>
                        <th class="tr1 hide">Action</th>
                    </tr>
                </thead>
                <tfoot>

                </tfoot>
            </table>
        </div>
    </div>
</form>
