@{
    ViewBag.Title = "Change_Password";
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
}
<div id="content" class="content">
    <ol class="breadcrumb pull-right">
        <li><a href="@Url.Action("Index","Home")">Home</a></li>
        <li><a href="javascript:;">Roles</a></li>
        <li class="active">Main Page</li>
    </ol>
    <h1 class="page-header">Roles<small>Add or Modify Roles...</small></h1>

    <div class="col-md-6">
        <!-- begin panel -->
        <div class="panel panel-inverse" data-sortable-id="form-stuff-4">
            <div class="panel-heading">
                <div class="panel-heading-btn">
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
                </div>
                <h4 class="panel-title">Reset Password</h4>
            </div>
            <div class="panel-body">
                <form class="form-horizontal" action="/" method="POST">
                    <fieldset>
                        <legend>Change Admin Password</legend>
                        <div class="form-group">
                            <label class="col-md-4 control-label">User Name</label>
                            <div class="col-md-8">
                                 <select class="form-control">
                                     <option class="default">Select the User</option>
                                     <option>User 1</option>
                                     <option>User 2</option>
                                     <option>User 3</option>
                                 </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">Password</label>
                            <div class="col-md-8">
                                <input type="password" class="form-control" placeholder="Enter Pasword" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">Confirm New Password</label>
                            <div class="col-md-8">
                                <input type="password" class="form-control" placeholder="Enter New Password" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">Confirm Password</label>
                            <div class="col-md-8">
                                <input type="password" class="form-control" placeholder="Confirm Password" />
                            </div>
                        </div>
                         
                        <div class="form-group">
                            <div class="col-md-8 col-md-offset-4">
                                <button type="submit" class="btn btn-sm btn-primary m-r-5">Login</button>
                                <button type="submit" class="btn btn-sm btn-default">Cancel</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
        <!-- end panel -->
    </div>
</div>